<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <input type="file" id="file" ref="myFiles" @change="previewFiles" multiple>
      <button @click="test">
        click
      </button>
    </div>
    <div>{{tokenResult}}</div>
    <router-view/>
  </div>
</template>

<script>

// import ParentNode from "./model/parent-node.model";
// import AST from "./model/ast.model";
import Tokenizer from "./service/tokenizer.service";

export default {
  methods: {
    test() {
      let tokenizer = new Tokenizer();

      // for (let i = 0; i < this.files.length; i++) {
      //   const element = this.files[i];
      //   this.readFile(element, tokenizer);
      // }

      //======read File directly=======
      for (let i = 0; i < this.files.length; i++) {
        const element = this.files[i];
        tokenizer.tokenizeFile(element, (result) => {
          console.log(result);
          this.tokenResult = result;
        });
      }
    },
    previewFiles() {
      this.files = this.$refs.myFiles.files
    },
    readFile(file, tokenizer) {
      let fileReader = new FileReader();

      fileReader.onload = (event) => {
        let result = event.target.result;
        let tokens = tokenizer.tokenize(result);
        console.log(tokens);
      }

      fileReader.readAsText(file);
    },
    test2() {
      // let ast = new AST();
      // console.log(ast);
    }
  },
  data: () => ({
    tokenResult: []
  })
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
